
.testDoingContainer h1 {
    color: #333;
    text-align: center;
  }
  
  .testDoingContainer div {
    margin: 20px;
  }
  
  .testDoingContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .testDoingContainer li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  