.aboutMain {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-bottom: 1rem;
}

.imgAboutSection {
    width: 35rem;
    height: 25rem;
}

.imgAboutSection > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.textoAboutSection {
    border-right: 3px solid green;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.textoAboutSection > h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.textoAboutSection > p {
    margin-bottom: 1rem;
    text-align: justify;
    padding: 0 2rem;
}