.aboutMain {
    margin-top: 100px;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.imgAboutSection {
    width: 350px;
    height: 350px;
}

.imgAboutSection > img {
    width: 100%;
}

.textoAboutSection > h2 {
    margin: 0;
}

.textoAboutSection > p {
    margin-bottom: 10px;
    text-align: justify;
}