.empleado {
    border: 1px solid green;
    border-radius: 15px;
    height: 200px;
    width: 400px;
    margin: 60px 0px;
    position: relative;
    transition: all 0.5s ease-in-out;

    text-align: center;
}

.empleado:hover {
    box-shadow: 0px 3px 5px 1px lightgreen;
    /*box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);*/
}

.empleadoFoto {
    display: flex;
    justify-content: center;
}

.empleadoFotoImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    border: 1px solid green;
}

.empleadoNombre {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.empleadoDescripcion {
    margin-bottom: 10px;
    font-size: 20px;
}
