.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    font-size: 2rem;
}

.loginContenedor {
    display: grid;
    gap: 2rem;
    width: 40vw;
    height: 50rem;
    grid-template-columns: 1fr;
    border: 2px solid orangered;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.5);
}

.loginContenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    margin-top: -5rem;
}

.loginContenedorError {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: -5rem;
    font-size: 1.8rem;
    font-weight: bolder;
    height: 4rem;
}

.loginContenedorform {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem 8rem;
    margin-top: -18rem;
}

.oneColumn {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    font-size: 1.8rem;
}

input {
    color: black;
    font-weight: bolder;
    padding: 0.5rem 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid blue;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

input:focus {
    outline: none;
    border-bottom: 3px solid orangered;
}

.botonesContenedor {
    display: flex;
    align-items: center;
}

.btn {
    width: 17rem;
    height: 6rem;
    color: orangered;
    background-color: lightgray;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5rem;
    border: 1px solid white;
    transition: 0.5s all ease-in-out;
}

.btn:hover {
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
}

.loginEnlaceSingin {
    display: flex;
    justify-content: right;
    width: 100%;
}

.enlaceCrearUsuario {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: bolder;
    transition: 0.5s all ease-in-out; 
}

.enlaceCrearUsuario:hover {
    color: orangered;
    cursor: pointer;
}
