.navbarMain {
    background-color: #333; /* Background color of the navbar */
    border-bottom: 2px solid #555; /* Bottom border for a slight 3D effect */
    padding: 0.5rem 1rem; /* Padding around the content */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: var(--navbar-height); /* Use the navbar height variable */
}


.unorderedList {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.listItem {
    margin-right: 2rem; 
}

.listItem:last-child {
    margin-right: 0; 
}

.link {
    font-size: 1.25rem;
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    transition: color 0.3s ease-in-out; 
}

.link:hover,
.link:focus {
    color: #ddd; 
}

