.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/* SECCION PRINCIPAL */
.sectionPrincipal {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
}

.sectionTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionPrincipalTitulo {
  font-size: 8.2rem;
  margin-bottom: 10px;
}

.sectionPrincipalParrafo {
  font-size: 1.8rem;
}

.sectionPrincipalBtn {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1.4rem;
}

.sectionImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPortada{
  width: 530px;
}



