.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.seccionPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-bottom: 80px;
}

.seccionInfoTitle {
  font-size: 3rem;
  line-height: 1.5;
}

.seccionImagenIcon {
  width: 350px;
}


