.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/* SECCION 2 */
.sectionConocimientos {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 50px;
}

.sectionConocimientosContenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sectionConocimientosTitulo {
  font-size: 4.5rem;
}

.sectionConocimientosParrafo {
  font-size: 1.5rem;
}

.sectionConocimientosParrafoEdit {
  text-decoration: underline;
  color: #e82223;
}

.sectionConocimientosBtn {
  display: inline-block;
  align-self: start;
  padding: 10px 15px;
  font-size: 1.4rem;
}

.sectionConocimientosImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionConocimientosImg {
  width: 300px;
}


