#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  --navbar-height: 100px; /* Define the height of the navbar */
}

.navbarMain {
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Position it sta rting from the left */
  right: 0; /* Stretch it across the right */
  z-index: 1000; /* Ensure it stays on top of other content */
  height: var(--navbar-height); /* Use the defined height */
}

/* Add padding to the top of the main content equal to the navbar height */
body {
  padding-top: var(--navbar-height);
}


