.contactContainer {
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-bottom: 250px;
}

.contactForm {
  display: grid;
  gap: 0.5rem;
}

.contactForm label,
.contactForm input,
.contactForm textarea,
.contactForm button {
  width: 100%;
}

.contactForm textarea {
  height: 200px; /* This makes the message input bigger */
}
